Source: sirikali
Section: admin
Priority: extra
Maintainer: Mhogo Mchungu <mhogomchungu@gmail.com>
Uploaders:
Build-Depends: debhelper (>= 9), cmake, pkg-config, libgcrypt11-dev, libsecret-1-dev, qtbase5-dev, chrpath, bzip2
Standards-Version: 3.9.5
Homepage: http://mhogomchungu.github.io/SiriKali
Vcs-Git: https://github.com/mhogomchungu/SiriKali
Vcs-Browser: https://github.com/mhogomchungu/SiriKali

Package: sirikali
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: graphical front-end cryfs and encfs.
